.widgetBox {
  /* background-color: #f7f9fa; */
  background-color: var(--twitter-background);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.widgetBox h3 {
  font-size: 18px;
  border-bottom: var(--grey-border);
  padding-bottom: 10px;
}
