.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    border-left: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}

.feed__wrapper {
    position: absolute;
    width: 100%;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-background);
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.feed__header > h2 {
    font-weight: 800;
    font-size: 18px;
}

/* Hide Scroll bar */
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@media screen and (max-width: 768px){
    .feed{
        flex: 0.8;
    }

    .feed__header > h2 {
        font-weight: 800;
        font-size: 16px;
    }
}