.feed__header-back-btn {
    margin-right: 30px;
    color: var(--twitter-color);
}

.feed__header.singlePost {
    padding: 10px 5px;
}

.singlePost__container {
    border-bottom: 1px solid rgb(235, 238, 240);
}

.singlePost__header {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}

.singlePost__avatar {
    margin-right: 10px;
}

.singlePost__avatar .MuiAvatar-root {
    width: 50px;
    height: 50px;
}

.singlePost__header-top {
    display: flex;
    align-items: center;
}

.post__headerText.singlePost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.singlePost__header-top h3 {
    font-size: 14px;
}

.postHeaderDesc.singlePost {
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0px;
}

.singlePost__timestamp {
    margin: 10px 0;
    font-size: 14px;
    color: gray;
}

.singlePost__footer {
    margin: 20px 0;
    margin-bottom: 0px;
}

.singlePost__footer-top {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(235, 238, 240);
    border-bottom: 1px solid rgb(235, 238, 240);
    padding: 15px 10px;
}

.singlePost__footer-top .item {
    margin-right: 20px;
    color: gray;
}

.singlePost__footer-top .item span {
    color: #000;
    font-weight: 600;
}

.singlePost__footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(235, 238, 240);
}

.single__post__notfound {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.single__post__notfound h3 {
    color: var(--twitter-color);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 25px;
}

.single__post__notfound img {
    width: 100%;
    margin-top: 20px;
}
