.verifiedIcon {
    width: 20px;
    height: 20px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
}

.post__body {
    flex: 1;
    padding: 10px;
    padding-bottom: 0px;
}

.post__headerText {
    display: flex;
    align-items: center;
}

.post__headerText h3 {
    font-size: 14px;
}

.post__avatar {
    margin: 15px 0 0 10px;
    width: 40px;
    height: 40px;
}

.post__verified {
    margin: 0 5px 0 2px;
}

.post__verified > img {
    padding-top: 5px;
}

.post__username {
    font-weight: 600;
    color: gray;
    font-size: 12px;
}

.postHeaderDesc {
    margin: 5px 0;
    font-size: 15px;
    max-width: 500px;
}

.post__image {
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    margin-top: 10px;
}

.postHeaderDesc img {
    width: 100%;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
    width: 100%;
}

.post__footer__option {
    cursor: pointer;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    transition: all 0.2s ease-in;
    color: #767c7f;
}

.post__footer__option .MuiSvgIcon-root {
    font-size: 23px;
}

.post__footer__option span {
    margin-left: 8px;
}

.post__footer__option.retweet.active {
    color: #50e450;
}

.post__footer__option.like.active {
    color: lightcoral;
}

.post__footer__option:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 20px;
}

.post__footer__option.delete {
    color: crimson;
}

.post__footer__like__btn {
    display: flex;
    align-items: center;
}

.post__footer__like__btn span {
    margin-top: 3px;
    margin-left: -6px;
    color: #5d6165;
}

/* Twitter Like BTN */
.like-btn-svg {
    width: 50px;
    height: 50px;
    background: url(http://localhost:4000/uploads/images/web_heart_animation.png) no-repeat;
    background-position: -20px -10px;
    cursor: pointer;
    /* transform: translate(-40px, -1px); */
}

.like-btn-svg.active {
    background-position: -1952px -10px;
}

.like-btn-svg.animate {
    transition: background 1s steps(28);
    animation: fave-like-btn-svg 1s steps(28);
    background-position: -1952px -10px;
}

@keyframes fave-like-btn-svg {
    0% {
        background-position: -20px -10px;
    }
    100% {
        background-position: -1952px -10px;
    }
}

@media screen and (max-width: 768px) {
    .post__headerText h3 {
        font-size: 12px;
    }

    .postHeaderDesc {
        font-size: 12px;
    }

    .post__footer {
        justify-content: space-between;
    }

    .post__footer__option {
        padding: 5px 8px;
    }
}

@media screen and (max-width: 480px) {
    .post__headerText {
        flex-wrap: wrap;
    }
}
