.widgets {
    flex: 0.3;
    margin-top: 10px;
    margin-left: 10px;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.widgets__input > input {
    background-color: transparent;
    border: 0;
    outline: 0;
    margin-left: 10px;
    color: #fff;
}

.widgets__input input::placeholder {
    color: #e0dcdc;
}

.widgets__searchIcon {
    color: gray;
}

@media screen and (max-width: 1000px) {
    .widgets {
        display: none;
    }
}
