.tweetBox {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 8px solid var(--twitter-background);
}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetBox .tweetBox__input {
    display: flex;
    margin-bottom: 10px;
    background: #f4f4f4;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    transition: border 0.04s ease-in;
    border: 2px solid transparent;
}

.tweetBox .tweetBox__input.active {
    border: 2px solid var(--twitter-color);
}

.tweetBox__input input {
    flex: 1;
    font-size: 18px;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
}

.tweetBox__submit .tweetBox__submit-left .MuiSvgIcon-root {
    color: var(--twitter-color);
    cursor: pointer;
}

.tweetBox__submit {
    display: flex;
    justify-content: space-between;
}

.tweetBox__submit .tweetBox__submit-left {
    display: flex;
}

.tweetBox__submit-left .icon {
    padding: 5px 10px;
}

.tweetBox__submit-left .icon:hover {
    background-color: #e8f5fe !important;
    border-radius: 20px;
}

.tweetBox__btn {
    background-color: var(--twitter-color) !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    border: 0 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    padding: 0 30px !important;
}

#uploadPreview {
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}
