.register {
    width: 100%;
    height: 100%;
    /* background-color: #31404e; */
    background-color: #15202b;
    z-index: 100;
    background-size: cover;
}

.register .wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .register__backdrop {
    padding: 10px;
}

.register .register__modal {
    max-width: 600px;
    min-height: 400px;
    margin: 0 auto;
    /* background-color: #15202b; */
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    border-radius: 15px;
}

.register__modal .register__modal-content {
    padding: 25px;
    height: 100%;
    position: relative;
}

.register__icon {
    text-align: center;
}

.register__modal-content .register__closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.register__icon .MuiSvgIcon-root {
    font-size: 35px;
}

.register__modal-content h1 {
    font-size: 24px;
    margin: 10px 0;
}

.selectGroup {
    display: flex;
    align-items: center;
}
