@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-family: "Montserrat", sans-serif;
}

.form__errors .errors-ul {
    list-style: none;
}

.form__errors .errors-ul li {
    margin: 5px 0px;
    color: salmon;
    padding: 3px 0px;
}

.errors {
    background: rgba(250, 128, 114, 0.7);
    margin: 10px 0;
    color: #860e0e;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}
